<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">developerChallenge</h3>
</div>

<div class="jumbotron">
  Search by Name: <input type="text" id="search-keywords" tabindex="1" search/>
  <div>(Use space or comma to enter multiple keywords.)</div>
</div>

<div class="row marketing">
  <h2 style="display:{{noMatches}}">No matches found</h2>
  <div ng-repeat="title in titles | orderBy:'TitleName' | filter:secondaryFilter" ng-animate="{enter: 'title-enter', leave: 'title-leave', move: 'title-move'}">
      <h4><a popover="{{titlePopover(title)}}" popover-trigger="mouseenter" ng-href="/title/{{title._id}}" ng-bind-html="title.TitleNameHighlighted" ></a></h4>
      <p>{{title.ReleaseYear}}</p>
  </div>
</div>

