<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li> 
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">developerChallenge</h3>
</div>

<div>
	<a href="#">Back to search</a>
</div>

<div>
	<h4>{{title.TitleName}} ({{title.ReleaseYear}})</h4>
	<div>
		<span ng-repeat="genre in title.Genres">{{genre}}&nbsp;</span>
	</div>
	<div>
		<h5>Storyline</h5>
		<p>{{title.Storylines[0].Description}}</p>
	</div>
	<div ng-if="title.Awards">
		<h5>Awards</h5>
		<table>
			<tr ng-repeat="award in title.Awards | filter:awardWon">
				<td>{{award.Award}}</td>
				<td>{{award.AwardCompany}}</td>
				<td>&nbsp;({{award.AwardYear}})</td>
			</tr>
		</table>
	</div>
	<div>
		<h5>Participants</h5>
		<table>
			<tr ng-repeat="participant in title.Participants | orderBy:'RoleType'">
				<td>{{participant.Name}}</td>
				<td>{{participant.RoleType}}</td>
			</tr>
		</table>
	</div>
</div>